/* Add screen styles below */
.col{
    background-color: #98A869;
    text-align: left;
    font-size: 15pt;
    border: 32px solid transparent;
    border-image: url("images/Arabesque Pattern.png") 72 round;
    padding: 30px;
}
p{
    font-family: "Yu Gothic UI Semilight";
}